.accordion {
  & + .accordion {
    margin-top: 12px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 12px 16px;

    background-color: #0f558c;
    color: #fff;

    cursor: pointer;
    user-select: none;
  }

  &__icon {
    display: flex;
    align-items: center;

    & i {
      font-size: 24px;
      transition: 0.3s ease-in-out;
    }
  }

  &.active &__icon {
    i {
      transform: rotate(180deg);
    }
  }

  &__content {
    color: #2b2b2b;
    background-color: #fff;
    text-align: justify;

    padding: 0 12px;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &.active &__content {
    padding: 16px 12px;
    max-height: 80px;
  }
}
